h1 {
    color:darkslateblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1,h2,h3 {
    color:darkslateblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: whitesmoke;
}

button {
    background: orange;
}

a {
    color:mediumpurple;
}

.marginauto {
    margin: 10px auto 20px;
    display: block;
}

