{% extends "base.html" %}

    {% block content %}

    <img src="../static/monopoly_geeks.jpg">
    <div class="flex demo">
        <div><span></span></div>
        <div><span>
            <h2>Hi Newbie!!!</h2>
            <h3>Here are some great new boardgames for you</h3>
            {% for r in recommendations %}
                <li>{{r}}</li>
            {% endfor %}


            <a href="{{ url_for('homepage') }}">Go back to main page</a>   
        </span></div>
        <div><span>

        </span></div>
        <div><span></span></div>
    </div>

     
    {% endblock %}