{% extends "base.html" %}

    {% block content %}


        <h2>Hi {{user_name}}!!!</h2>
        {% for r in recommendations %}
            <li> {{r}} </li>
        {% endfor %}

       <!--  <h2>Did you know?</h2>
        <p>Your favorite boardgame categories are:</p>
        {% for category in users_top_categories %}
            <li> {{category}} </li>
        {% endfor %}
        <p>Your favorite boardgame mechanics are:</p>
        {{user_top_mechanics}}
        {% for mechanic in users_top_mechanics %}
            <li> {{mechanic}} </li>
        {% endfor %}--!>        

    <a href="{{ url_for('homepage') }}">Go back to main page</a>    
    {% endblock %}
